@font-face {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 300;
  src: url('cera-pro/CeraPro-Light.eot');
  src: local('Cera Pro Light'), local('CeraPro-Light'),
    url('cera-pro/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
    url('cera-pro/CeraPro-Light.woff2') format('woff2'), url('cera-pro/CeraPro-Light.woff') format('woff'),
    url('cera-pro/CeraPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro';
  font-style: italic;
  font-weight: 500;
  src: url('cera-pro/CeraPro-MediumItalic.eot');
  src: local('Cera Pro Medium Italic'), local('CeraPro-MediumItalic'),
    url('cera-pro/CeraPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('cera-pro/CeraPro-MediumItalic.woff2') format('woff2'), url('cera-pro/CeraPro-MediumItalic.woff') format('woff'),
    url('cera-pro/CeraPro-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro';
  font-style: italic;
  font-weight: normal;
  src: url('cera-pro/CeraPro-RegularItalic.eot');
  src: local('Cera Pro Regular Italic'), local('CeraPro-RegularItalic'),
    url('cera-pro/CeraPro-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('cera-pro/CeraPro-RegularItalic.woff2') format('woff2'),
    url('cera-pro/CeraPro-RegularItalic.woff') format('woff'),
    url('cera-pro/CeraPro-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro';
  font-style: italic;
  font-weight: 900;
  src: url('cera-pro/CeraPro-BlackItalic.eot');
  src: local('Cera Pro Black Italic'), local('CeraPro-BlackItalic'),
    url('cera-pro/CeraPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('cera-pro/CeraPro-BlackItalic.woff2') format('woff2'), url('cera-pro/CeraPro-BlackItalic.woff') format('woff'),
    url('cera-pro/CeraPro-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 500;
  src: url('cera-pro/CeraPro-Medium.eot');
  src: local('Cera Pro Medium'), local('CeraPro-Medium'),
    url('cera-pro/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('cera-pro/CeraPro-Medium.woff2') format('woff2'), url('cera-pro/CeraPro-Medium.woff') format('woff'),
    url('cera-pro/CeraPro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro';
  font-style: italic;
  font-weight: bold;
  src: url('cera-pro/CeraPro-BoldItalic.eot');
  src: local('Cera Pro Bold Italic'), local('CeraPro-BoldItalic'),
    url('cera-pro/CeraPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('cera-pro/CeraPro-BoldItalic.woff2') format('woff2'), url('cera-pro/CeraPro-BoldItalic.woff') format('woff'),
    url('cera-pro/CeraPro-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro';
  font-style: italic;
  font-weight: 100;
  src: url('cera-pro/CeraPro-ThinItalic.eot');
  src: local('Cera Pro Thin Italic'), local('CeraPro-ThinItalic'),
    url('cera-pro/CeraPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('cera-pro/CeraPro-ThinItalic.woff2') format('woff2'), url('cera-pro/CeraPro-ThinItalic.woff') format('woff'),
    url('cera-pro/CeraPro-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro';
  font-style: italic;
  font-weight: 300;
  src: url('cera-pro/CeraPro-LightItalic.eot');
  src: local('Cera Pro Light Italic'), local('CeraPro-LightItalic'),
    url('cera-pro/CeraPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('cera-pro/CeraPro-LightItalic.woff2') format('woff2'), url('cera-pro/CeraPro-LightItalic.woff') format('woff'),
    url('cera-pro/CeraPro-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 900;
  src: url('cera-pro/CeraPro-Black.eot');
  src: local('Cera Pro Black'), local('CeraPro-Black'),
    url('cera-pro/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
    url('cera-pro/CeraPro-Black.woff2') format('woff2'), url('cera-pro/CeraPro-Black.woff') format('woff'),
    url('cera-pro/CeraPro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: bold;
  src: url('cera-pro/CeraPro-Bold.eot');
  src: local('Cera Pro Bold'), local('CeraPro-Bold'),
    url('cera-pro/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('cera-pro/CeraPro-Bold.woff2') format('woff2'), url('cera-pro/CeraPro-Bold.woff') format('woff'),
    url('cera-pro/CeraPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: normal;
  src: url('cera-pro/CeraPro-Regular.eot');
  src: local('Cera Pro Regular'), local('CeraPro-Regular'),
    url('cera-pro/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('cera-pro/CeraPro-Regular.woff2') format('woff2'), url('cera-pro/CeraPro-Regular.woff') format('woff'),
    url('cera-pro/CeraPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 100;
  src: url('cera-pro/CeraPro-Thin.eot');
  src: local('Cera Pro Thin'), local('CeraPro-Thin'),
    url('cera-pro/CeraPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('cera-pro/CeraPro-Thin.woff2') format('woff2'), url('cera-pro/CeraPro-Thin.woff') format('woff'),
    url('cera-pro/CeraPro-Thin.ttf') format('truetype');
}
