:root {
  --klik-font-sans: 'Cera Pro';
  --klik-input-font-family: 'Cera Pro';

  --colors-lightblue-10: #f9fbfc;
  --colors-lightblue-30: #f5f8fa;
  --colors-lightblue-50: #e8f2fa;
  --colors-lightblue-100: #cae5fa;
  --colors-lightblue-200: #a6d3f7;
  --colors-lightblue-300: #79bcf2;
  --colors-lightblue-400: #4599de;
  --colors-lightblue-500: #247bbf;
  --colors-lightblue-600: #1766a6;
  --colors-lightblue-700: #0f538a;
  --colors-lightblue-800: #0c416b;
  --colors-lightblue-900: #0a2c47;

  /* // https://codepen.io/claviska/full/QWveRgL from #247bbf (--colors-lightblue-500) */
  --sl-color-primary-50: 246 250 252;
  --sl-color-primary-100: 227 238 247;
  --sl-color-primary-200: 205 225 240;
  --sl-color-primary-300: 181 210 233;
  --sl-color-primary-400: 149 191 224;
  /* --sl-color-primary-500: 107 166 212; rgb(36 123 191) */
  --sl-color-primary-500: 36 123 191;
  --sl-color-primary-600: 60 137 198;
  --sl-color-primary-700: 33 112 174;
  --sl-color-primary-800: 27 93 144;
  --sl-color-primary-900: 19 66 102;
  --sl-color-primary-950: 12 41 63;

  --klik-color-primary-50: var(--sl-color-primary-50);
  --klik-color-primary-100: var(--sl-color-primary-100);
  --klik-color-primary-200: var(--sl-color-primary-200);
  --klik-color-primary-300: var(--sl-color-primary-300);
  --klik-color-primary-400: var(--sl-color-primary-400);
  --klik-color-primary-500: var(--sl-color-primary-500);
  --klik-color-primary-600: var(--sl-color-primary-600);
  --klik-color-primary-700: var(--sl-color-primary-700);
  --klik-color-primary-800: var(--sl-color-primary-800);
  --klik-color-primary-900: var(--sl-color-primary-900);
  --klik-color-primary-950: var(--sl-color-primary-950);
}

* {
  font-family: var(--klik-font-sans);
}

html,
body {
  font-size: 18px;
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
}

html.klik-theme-dark body {
  background-color: #222;
  color: #fafafa;
}

.button {
  font-weight: var(--klik-font-weight-semibold);
  font-weight: 800 !important;
}
