/**
 * Map Globals to Aliasas
 *
 * Left-hand keys  : --dt-alias-*
 * Right-hand keys : --dt-global-* or hardcoded value
 *
 * */
:root {
  --dt-alias-fontfamily-sans: 'Cera Pro';
  --dt-alias-fontfamily-input: 'Cera Pro';

  /* Default */
  --dt-alias-color-primary-interaction: var(--dt-global-klik-color-light-blue-500);
  --dt-alias-color-primary-interaction-hover: var(--dt-global-klik-color-light-blue-600);
  --dt-alias-color-primary-interaction-text: var(--dt-global-klik-color-white);
}

/* :root,
:host,
.klik-theme-light {
  --dt-alias-color-primary-interaction: var(--dt-global-klik-color-light-blue-500);
  --dt-alias-color-primary-interaction-hover: var(--dt-global-klik-color-light-blue-600);
  --dt-alias-color-primary-interaction-text: var(--dt-global-klik-color-white);
} */

html.klik-theme-dark {
  --dt-alias-color-primary-interaction: 0 0 255;
  --dt-alias-color-primary-interaction-text: 255 0 0;
}

.klik-theme-dark body {
  background-color: #202020;
  /* color: #00ff00; */
}
