/**
 * Map Globals to Aliasas
 *
 * Left-hand keys  : --dt-alias-*
 * Right-hand keys : --dt-global-* or hardcoded value
 *
 * */

:root.klik-theme-klikui {
  --dt-alias-color-primary-interaction: var(--dt-global-klik-color-light-blue-500);
  --dt-alias-color-primary-interaction-hover: var(--dt-global-klik-color-light-blue-600);
  --dt-alias-color-primary-interaction-text: var(--dt-global-klik-color-white);

  --dt-alias-fontfamily-sans: 'Cera Pro';
  --dt-alias-fontfamily-input: 'Cera Pro';

  /* --dt-alias-color-primary-interaction: 255 0 0;
  --dt-alias-color-primary-interaction-text: 0 0 0; */
}
